/* You can add global styles to this file, and also import other style files */

$pink:#ffaaaa;
$neon-pink:#f50776;
$orange:#ff8811;
//$fg:$($neon-pink+$orange);
$new1:#Fe7c1a;
$new2:#Fd7123;
$new3:#Fc652d;
$new4:#Fb5936;
$new5:#fa4d3f;
$new6:#fa4248;
$new7:#f93651;
$new8:#f82a5a;
$new9:#f71e64;
$new10:#f6136d;
$new11:#f5136d;
//
$new13:#F6146c;
$new14:#f72162;
$new15:#f82e58;
$new16:#f93b4e;
$new17:#fa4844;
$new18:#fb5439;
$new19:#fc612f;
$new20:#fd6e25;
$new21:#fe7b1b;
//
// $new22:#F6156B;
// $new23:#F72460;
// $new14:#F83254;
// $new15:#f82e58;
// $new16:#f93b4e;
// $new17:#fa4844;
// $new18:#fb5439;
// $new19:#fc612f;
// $new20:#fd6e25;
// $new21:#fe7b1b;