<p>hufker6 works!</p>
<h1>Angular Router</h1>
<nav>
    <a routerLink="/Amys-Parents" routerLinkActive="active">Amy's Parents</a>
    <a routerLink="/Amys-Mom" routerLinkActive="active">Amy's Mom</a>
    <a routerLink="/Amys-Dad" routerLinkActive="active">Amy's Dad</a>
    <a routerLink="/Amys-Twin" routerLinkActive="active">Amy's Twin</a>
    <a routerLink="/Katie" routerLinkActive="active">Katie</a>
    <a routerLink="/aerh" routerLinkActive="active">Amy</a>
</nav>
<router-outlet></router-outlet>